@import "tailwindcss";

:root {
  --card: #ffffff;
  --accent: #2d7376;
  --card-2: #bcccdc;
  --input: #e0e0e0;
  --primary: #24aeb1;
  --secondary: #8eba27;
  --strokedark: #f3f4f8;
  --background: #f2f3f5;
  --foreground: #171717;
  --background-2: #202a39;
}

.dark {
  --card: #151d20;
  --accent: #2d7376;
  --input: #20283f;
  --card-2: #1c2338;
  --primary: #24aeb1;
  --secondary: #8eba27;
  --strokedark: #2e3a47;
  --background: #0d0e0d;
  --foreground: #fffcf9;
  --background-2: #202a39;
}

@theme inline {
  --color-card: var(--card);
  --color-input: var(--input);
  --color-card-2: var(--card-2);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-strokedark: var(--strokedark);
  --color-background-2: var(--background-2);
  --color-meta-1: #dc3545;
  --color-meta-2: #eff2f7;
  --color-meta-3: #10b981;
  --color-meta-4: #313d4a;
  --color-meta-5: #259ae6;
  --color-meta-6: #ffba00;
  --color-meta-7: #ff6766;
  --color-meta-8: #f0950c;
  --color-meta-9: #e5e7eb;
  --color-meta-10: #0fadcf;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: "Manrope";
  --text-xxs: 0.6rem;
}

::selection {
  color: #c9ebec;
  background: #2d7376;
}

@layer base {
  @font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope.ttf");
    font-weight: 600;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: #24aeb1;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:active {
  background-color: #24aeb1;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background: #24aeb1;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Scroll track styles (Background) */
::-webkit-scrollbar-track {
  background: #2d7376;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  cursor: grabbing;
  background: #2d7376;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

button:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}
