@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #1e293b;

  --primary: #3475eb;
  --primary-foreground: #ffffff;
  --accent: #1e40af;
  --accent-foreground: #ffffff;

  --secondary: #f59e0b;
  --secondary-foreground: #ffffff;
  --card-2: #c3dbfa;
  --background-2: #c5daf7;

  --input: #e2e8f0;
  --strokedark: #cbd5e1;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
  --info: #9fbff1;

  --primary-light: #1e3a8a;
  --primary-dark: #030712;
  --border: #e2e8f0;
  --divider: #e2e8f0;
}

.dark {
  --card: #151d20;
  --accent: #2d7376;
  --input: #20283f;
  --card-2: #1c2338;
  --primary: #2490eb;
  --secondary: #8eba27;
  --strokedark: #2e3a47;
  --background: #0d0e0d;
  --foreground: #fffcf9;
  --background-2: #202a39;
}

@theme inline {
  --color-card: var(--card);
  --color-input: var(--input);
  --color-card-2: var(--card-2);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-strokedark: var(--strokedark);
  --color-background-2: var(--background-2);
  --color-card-foreground: var(--card-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-info: var(--info);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-border: var(--border);
  --color-divider: var(--divider);
  --color-meta-1: #dc3545;
  --color-meta-2: #eff2f7;
  --color-meta-3: #10b981;
  --color-meta-4: #313d4a;
  --color-meta-5: #259ae6;
  --color-meta-6: #ffba00;
  --color-meta-7: #ff6766;
  --color-meta-8: #f0950c;
  --color-meta-9: #e5e7eb;
  --color-meta-10: #0fadcf;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: "Manrope";
  --font-poppins: "Poppins";
  --text-xxs: 0.6rem;
  --animate-shimmer: shimmer 2s infinite linear;
  --ease-shimmer: cubic-bezier(0.4, 0, 0.6, 1);
}

::selection {
  color: #c9ebec;
  background: #3475eb;
}

@layer base {
  @font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins.ttf");
    font-weight: 500;
  }
}

html,
body {
  @apply bg-gradient-to-tl from-background-2 to-background min-h-screen;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden !important; */
}

@media only screen and (max-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(
      90deg,
      theme("colors.gray.200") 0%,
      theme("colors.gray.300") 20%,
      theme("colors.gray.200") 40%,
      theme("colors.gray.200") 100%
    );
    background-size: 200% 100%;
  }

  /* Dark mode version */
  .dark .animate-shimmer {
    background: linear-gradient(
      90deg,
      theme("colors.gray.700") 0%,
      theme("colors.gray.600") 20%,
      theme("colors.gray.700") 40%,
      theme("colors.gray.700") 100%
    );
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes flyToCart {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(
        calc(var(--end-x) * 0.5),
        calc(var(--end-y) * 0.5 - 80px)
      )
      scale(0.8);
    opacity: 1;
  }
  90% {
    transform: translate(var(--end-x), var(--end-y)) scale(0.3);
    opacity: 0.8;
  }
  100% {
    transform: translate(var(--end-x), var(--end-y)) scale(0.1);
    opacity: 0;
  }
}

@keyframes shrinkAndFade {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: scale(0.3) rotate(360deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.1) rotate(360deg);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: #19287e;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:active {
  background-color: #19287e;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background: #19287e;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Scroll track styles (Background) */
::-webkit-scrollbar-track {
  background: #bcccdc;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  cursor: grabbing;
  background: #bcccdc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

button:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

/* From Uiverse.io by dovatgabriel */
.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #474554;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

/* From Uiverse.io by andrew-manzyk */
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(219, 218, 218);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /* filter: blur(10px); */
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: var(--primary);
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 110%;
  right: 50%;
  translate: 50% 0;
  z-index: 1;
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--primary) transparent;
}
